@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6EEE0;
}

.about-header{
  background-image: url("../images/Screenshot\ 2023-10-09\ at\ 8.19.18\ PM.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.about h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 2px #5f2e1b;
  font-weight: 900;
  color: #fbf9f6;
}

.about-us{
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 70%;
  font-family: 'Nunito', sans-serif;
  color: #035167;
}

.our-mission {
  margin-top: 80px;
  margin-bottom: 80px;
}

.our-mission h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.our-vision h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}