.contact-us {
  display: flex;
  padding: 10px;
  margin-right: 20px;
}

.contact-us-img {
display: flex;
align-items: center;
margin-left: 100px;
margin-top: 20px;
margin-bottom: 100px;
height: 80vh;
}

.contact-info {
  padding-left: 50px;
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 10px;
}

.message-to-send {
  margin-top: 10px;
  resize: none;
  border-bottom: 2px solid #3a3939;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.value-input {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #3a3939;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.contact-us-btn{
  cursor: pointer;
  padding-left: 0;
  font-size: 20px;
  margin: 10px;
  margin-left: 0;
  color: white;
  background-color: #D48C70;
  border-radius: 10%;
  border: 0;
  height: 40px;
  width: 100px;
}

.contact-us-btn:hover {
  background-color: #d59c85;
}