@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-top: 25px;
  background-color: #F6EEE0;
}

.hjul-house{
  font-family: 'Homemade Apple', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  margin: -40px;
  color: #035167;
}

.centered-logo {
  background-image: url("../images/detailed-bike-logo-premium-quality_23-2148828806-PhotoRoom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  min-height: 80vh;
  min-width: 45%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.homepage-slogan {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.homepage-slogan h4{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px, 0, 15px, 0;
}

.homepage-slogan p {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Styles for screens with a width up to 600px (typically for phones) */
@media screen and (max-width: 600px) {
  .homepage {
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  .hjul-house {
    font-size: 2rem; /* Reduce the font size for smaller screens */
    padding-bottom: 400px;
  }

  .centered-logo {
    margin-top: 40px;
    min-height: 100%; /* Adjust the height for smaller screens */
    min-width: 100%;
  }

  .homepage-slogan {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .homepage-slogan h4 {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .homepage-slogan p {
    font-size: 1.25rem; /* Adjust the font size for smaller screens */
  }
}

/* Styles for screens with a width between 601px and 1024px (typically for tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .hjul-house {
    font-size: 3rem; /* Adjust the font size for tablets */
    margin: -20px;
  }

  .centered-logo {
    margin-top: 20px;
    min-height: 80vh; /* Adjust the height for tablet screens */
    min-width: 80%;
  }

  .homepage-slogan h4 {
    font-size: 1.75rem; /* Adjust the font size for tablets */
  }

  .homepage-slogan p {
    font-size: 1.4rem; /* Adjust the font size for tablets */
  }
}
