@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.business-hours {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  align-items: center;
  background-color: #F6EEE0;
}

.business-hours h1 {
  font-family: 'Montserrat', sans-serif;
  color: #035167;
}

.hours-background {
  background-image: url("../images/detailed-bike-logo-premium-quality_23-2148828806-PhotoRoom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
}

.hours {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  width: 50%;
  padding: 50px;
  border-top: 5px solid #035167;
  border-bottom: 5px solid #035167;
  margin-bottom: 70px;
  position: relative; 
  font-size: 26px;
  padding-bottom: 70px;
  font-family: 'Nunito', sans-serif;
  color: #035167;
  font-weight: bold;
}

.day {
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #035167;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}