.business-hours {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  align-items: center;
}


.hours {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  min-height: 65vh;
  width: 30%;
  padding: 20px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 60px;
}

.day {
  font-size: 26px;
  font-weight: bold;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}