@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.business-hours {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  align-items: center;
  background-color: #F6EEE0;
}

.business-hours h1 {
  font-family: 'Montserrat', sans-serif;
  color: #035167;
  margin-bottom: 50px;
  margin-top: 50px;
}

.hours-background {
  background-image: url("../images/detailed-bike-logo-premium-quality_23-2148828806-PhotoRoom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10;
  opacity: 0.08;
  margin-top: -60px;
}

.hours {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  width: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 5px solid #035167;
  border-bottom: 5px solid #035167;
  margin-bottom: 70px;
  position: relative; 
  font-size: 26px;
  font-family: 'Nunito', sans-serif;
  color: #035167;
  font-weight: bold;
}

.day {
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #035167;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

/* Styles for screens with a width up to 600px (typically for phones) */
@media screen and (max-width: 600px) {
  .business-hours h1 {
    font-size: 1.8rem; /* Adjust the font size for smaller screens */
    margin-bottom: 30px; /* Adjust margin for smaller screens */
    margin-top: 30px; /* Adjust margin for smaller screens */
  }

  .hours-background {
    width: 92%; 
    margin-top: -20px;
    opacity: 0.1;
  }

  .hours {
    width: 90%; /* Make the hours section wider for smaller screens */
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
    padding-top: 60px; /* Adjust padding for smaller screens */
    padding-bottom: 40px; /* Adjust padding for smaller screens */
    margin-bottom: 30px; /* Adjust margin for smaller screens */
  }

  .day {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }
}

/* Styles for screens with a width between 601px and 1024px (typically for tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .business-hours h1 {
    font-size: 2rem; /* Adjust the font size for tablets */
    margin-bottom: 40px; /* Adjust margin for tablets */
    margin-top: 40px; /* Adjust margin for tablets */
  }

  .hours-background {
    width: 100%; /* Adjust the width for tablets */
    opacity: 0.1; /* Adjust opacity for tablets */
     margin-top: -20px;
  }

  .hours {
    width: 70%; /* Adjust the width for tablets */
    font-size: 1.8rem; /* Adjust the font size for tablets */
    padding-top: 80px; /* Adjust padding for tablets */
    padding-bottom: 60px; /* Adjust padding for tablets */
    margin-bottom: 50px; /* Adjust margin for tablets */
  }

  .day {
    font-size: 2rem; /* Adjust the font size for tablets */
    padding: 6px; /* Adjust padding for tablets */
  }
}
