@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.services-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6EEE0;
  color: #035167;
}

.services-page h1 {
  font-size: 2.25em;
}

.services-offered {
  background-image: url("../images/bike-repair-services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -175px;
  height: 300px;
  width: 100%;
  margin-bottom: 70px;
}


.services-title {
  position: relative;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.services-content {
  font-size: 20px;
}

.services-title .services-label {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #035167;
  color: beige;
  text-shadow: 1px 1px 1px black;
  height: 60px;
  width: 50vw;
  cursor: pointer;
}


.services-title .services-label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.services-title.active .services-label::before{
  content: '-';
  font-size: 2em;
}

.services-title .services-content {
  position: relative;
  width: 50vw;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: lightgrey;
}

.services-title.active .services-content {
  text-align: left;
  height: 250px;
  background-color: lightgrey;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0;
  margin: 0 auto;
  margin-top: 20px;
}


.upgrade {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.other-services {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-link {
  text-decoration: none;
  margin: 0 40px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #035167;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color:  #dbbfb8;
  border-radius: 10%;
  border: 0;
  height: 45px;
  width: 150px;
}

.repair-services {
  background-image: url("../images/repair-service.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -180px;
  height: 350px;
  width: 100vw;
  margin-bottom: 100px;
  margin-top: 100px;
}

  .other-services-inquries {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 15px;
  width: 100%;
  color: #035167;
  }

.other-inquiries {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-mark {
  height: 170px;
  width: 170px;
  margin: 10px;
}

/* Styles for screens with a width up to 600px (typically for phones) */
@media screen and (max-width: 600px) {
  .services-page h1 {
    font-size: 1.75em;
    margin-top: -50px;
  }

  .services-page h2 {
    font-size: 1.25em;
  }

  .services-offered {
    background-position: 0 -40px;
    height: 190px;
    width: 100%;
    margin-bottom: 60px;
  }


  .services-title .services-label {
    height: 40px;
    font-size: .75em;
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
  }

  .services-title .services-label::before {
    font-size: 1.2em; /* Adjust the font size for smaller screens */
  }

  .services-title.active .services-label::before {
    font-size: 1.8em;
  }

  .services-title .services-content {
    width: 90vw;
    margin-left: 20px;
  }

  .services-title.active .services-content {
    display: flex;
    justify-content: center;
    text-align: left;
    height: 350px;
    background-color: lightgrey;
    width: 90vw;
    margin-left: 20px;
    overflow: auto;
  }

  .price {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 0;
    margin-top: -30px;
  }

  #the-works {
    margin-top: 0px;
    padding-top: 40px;
  }

  #services-link {
    font-size: 18px; /* Adjust the font size for smaller screens */
  }

  .repair-services {
    height: 300px;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .other-services-inquries {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .other-services-inquries h1 {
    display: flex;
    flex-direction: column; /* Stack inquiries vertically on smaller screens */
    align-items: center; /* Center align content */
    justify-content: center;
    font-size: 1.25em;
  }

  .question-mark {
    height: 120px;
    width: 120px;
    margin-top: -20px;
  }

  #services-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 35px;
    width: 130px;
  }
}

/* Styles for screens with a width between 601px and 1024px (typically for tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .services-page h1 {
      font-size: 1.75em;
    }
  
    .services-page h2 {
      font-size: 1.25em;
    }
  
    .services-offered {
      background-position: 0 -40px;
      height: 200px;
      width: 100%;
      margin-bottom: 60px;
    }
  
  
    .services-title .services-label {
      height: 45px;
      font-size: .75em;
      display: flex;
      justify-content: center;
      width: 80vw;
      margin-left: 5px;
    }
  
    .services-title .services-label::before {
      font-size: 1.4em; /* Adjust the font size for smaller screens */
    }
  
    .services-title.active .services-label::before {
      font-size: 1.8em;
    }
  
    .services-title .services-content {
      width: 80vw;
      margin-left: 5px;
    }
  
    .services-title.active .services-content {
      display: flex;
      justify-content: center;
      text-align: left;
      height: 300px;
      background-color: lightgrey;
      width: 80vw;
      margin-left: 5px;
      overflow: auto;
    }
  
    .price {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      padding-top: 0;
      margin-top: -30px;
    }
  
    #the-works {
      margin-top: 0px;
      padding-top: 40px;
    }
  
    #services-link {
      font-size: 18px; /* Adjust the font size for smaller screens */
    }
  
    .repair-services {
      height: 300px;
      margin-top: 100px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .other-services-inquries {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .other-services-inquries h1 {
      display: flex;
      flex-direction: column; /* Stack inquiries vertically on smaller screens */
      align-items: center; /* Center align content */
      justify-content: center;
      font-size: 1.25em;
    }
  
    .question-mark {
      height: 120px;
      width: 120px;
      margin-top: -5px;
    }
  
    #services-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      height: 35px;
      width: 130px;
    }
  }