@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.services-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
}


.services-title {
  position: relative;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
}

.services-content {
  font-size: 20px;
}

.services-title .services-label {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #035167;
  color: beige;
  text-shadow: 1px 1px 1px black;
  height: 60px;
  width: 50vw;
  cursor: pointer;
}


.services-title .services-label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.services-title.active .services-label::before{
  content: '-';
  font-size: 2em;
}

.services-title .services-content {
  position: relative;
  background-color: bisque;
  width: 50vw;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.services-title.active .services-content {
  height: 200px;
}
