 @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background-color: #035167;
  padding: 10px;
  width: 100vw;
  height: 30vh;
}

.socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h3 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #d1c7c7;
  text-shadow: 2px 2px 4px black;
}

.socials-container p {
  margin-bottom: 2px;
  font-size: 1.25rem;
  color: #d1c7c7;
  font-family: 'Montserrat', sans-serif;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: .75rem;
  margin: 0 auto;
}

.fa-icon {
  margin-right: 15px;
  color: #a0aba8;
}
.fa-icon:hover {
  color: #8b9ca1;
  cursor: pointer;
}

.footer p {
  margin: 5px 0;
  color: #d1c7c7;
  text-shadow: 2px 2px 2px black;
  font-family: 'Montserrat', sans-serif;
}

/* Styles for screens with a width up to 600px (typically for phones) */
@media screen and (max-width: 600px) {
  .footer {
    height: 25vh; /* Adjust the height for smaller screens */
  }

  .footer h3 {
    font-size: 2rem; /* Reduce the font size for smaller screens */
  }

  .socials-container p {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }

  .socials {
    font-size: 0.5rem; /* Reduce the font size for smaller screens */
  }
}

/* Styles for screens with a width between 601px and 1024px (typically for tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer {
    height: 30vh; /* Adjust the height for tablet screens */
  }

  .footer h3 {
    font-size: 2.25rem; /* Adjust the font size for tablets */
  }

  .socials-container p {
    font-size: 1.1rem; /* Adjust the font size for tablets */
  }

  .socials {
    font-size: 0.6rem; /* Adjust the font size for tablets */
  }
}
