@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');


.footer{
  border: 5px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.socials-container h3 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-bottom: 10px;
}

.fa-icon {
  margin-right: 10px;
}