@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.nav {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .75);
  height: 100px;
  width: 100%;
  background-color: #035167;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.nav-links-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #dbbfb8;
}

.logo-image {
  width: 110px;
  height: 90px;
  margin-top: 5px;
}

.links-container {
  margin-left: auto;
}

/* Styles for screens with a width up to 600px (typically for phones) */
@media screen and (max-width: 600px) {
  .nav {
    height: 70px;
    padding: 0 10px;
  }

  .link {
    margin: 0 5px;
    font-size: 1rem;
  }

  .logo-image {
    width: 80px;
    height: 70px;
    margin-top: 5px;
  }
}

/* Styles for screens with a width between 601px and 1024px (typically for tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav {
    height: 80px;
  }

  .link {
    margin: 0 15px;
    font-size: 1.2rem;
  }
  .logo-image {
    width: 80px;
    height: 70px;
  }
}