@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.nav {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .75);
  padding-top: 1px;  
  margin-bottom: 30px;
  height: 100px;
  width: 100%;
}

.nav-links-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0 15px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logo {
  margin-left: auto;
  padding-right: 10px;
}

.logo-image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-left: auto;
  padding-top: 10px;
}